{erl_opts, [debug_info]}.
{deps, [
        {gen_pnet, {git, "https://github.com/joergen7/gen_pnet.git",
               {branch, "dev"}}}
       ]}.
{cover_enabled, true}.
{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        race_conditions, overspecs
                       ]},
            {get_warnings, true}]}.
